/*nav {
  display: none;
}*/

img {
  max-width: 175px;
  height: 125px;
}
/* * {

   border: 1px solid gold;
} */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  

}

.container{
  display: flex;
  justify-content: space-around;
  
}

aside {
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items:center;



}